<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.JarvisWear">
        <uses-library android:name="com.google.android.wearable" android:required="false" />
        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />
        <meta-data
            android:name="com.aaron.jarvisvoice.WATCH_INACTIVITY_TIMEOUT_MS"
            android:value="60000" />
        <activity
            android:name=".wear.JarvisWearActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".wear.WearVoiceService" android:exported="false" android:foregroundServiceType="microphone" />
        <service android:name=".wear.JarvisTileService" android:exported="true" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter>
            <meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/tile_preview" />
        </service>
        <service android:name=".wear.WearAssistantService" android:exported="true" android:label="Jarvis" android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter><action android:name="android.service.voice.VoiceInteractionService" /></intent-filter>
            <meta-data android:name="android.voice_interaction" android:resource="@xml/wear_voice_interaction_service" />
        </service>
        <service android:name=".wear.WearAssistantSessionService" android:exported="true" android:permission="android.permission.BIND_VOICE_INTERACTION" />
        <service
            android:name=".wear.WearRecognitionService"
            android:exported="true"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
